body {
    font-family: Arial, Verdana, sans-serif;
}

p {

}

caption {
    font-weight: bold;
    font-size: 1.3em;
    text-transform: uppercase;
    border: 1px solid black;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

thead {
    color: white;
    font-size: 1.2em;
    background: red;
    margin-left: 20px;
}

th {
    border-left: 0px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

td {
    border-right: 0px solid black;
    padding-left: 10px;
    padding-right: 15px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
tbody td:nth-child(1) {
    font-weight: bold;
    border-right: 1px solid black;
}
