body {
    font-family: Arial, Verdana, sans-serif;
    background: #4d4d4d;
    margin-left: 40px;
}

figure#floating {
    float: left;
    margin-right: 40px;
    color: #FFFFFF;
    font-size: 0.8em;
}

header {
    color: #669991;
    font-size: 1.5em;
    margin-left: 40px;
}

nav {
    color: #669991;
}

a {
    color: #669991;
    font-weight: bold;
}

a:hover {
    color: cyan;
}

p {
    color: #FFFFFF;
}

h2, h3 {
    color: #2B81AF;
    font-weight: bold;
    margin-top: 40px;
}

ul, li {
    color: #FFFFFF;
}

caption {
    font-weight: bold;
    font-size: 1.8em;
    border: 3px dotted #669991;
    margin-top: 50px;
}

table, th, td {
    color: #2B81AF;
    border: 1px solid #4d4d4d;
    margin-top: 40px;
    margin-left: 40px;
    padding: 5px;
}

.columns {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    column-gap: 40px;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    -webkit-column-rule-style: dotted; /* Chrome, Safari, Opera */
    -moz-column-rule-style: dotted; /* Firefox */
    column-rule-style: dotted;
    -webkit-column-rule-width: 3px; /* Chrome, Safari, Opera */
    -moz-column-rule-width: 3px; /* Firefox */
    column-rule-width: 3px;
    -webkit-column-rule-color: lawngreen; /* Chrome, Safari, Opera */
    -moz-column-rule-color: lawngreen; /* Firefox */
    column-rule-color: lawngreen;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 140px;
}

footer {
    margin-left: 40px;
}