body {
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
}
header {
    font-size: 7.0em;
}

p {
    font-style: italic;
    padding-bottom: 0px;
}

h1 {
    font-size: 3.0em;
    padding-bottom: 0px;
}

img {
    border: 3px solid lightsteelblue;
    margin: 1em;
}

figcaption {
    font-weight: bold;
}

div.one {
    background: lightsteelblue;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1em;
    margin-top: 4em;
    margin-left: 8em;
    margin-right: 8em;
}

div.two {
    background: mistyrose;
    padding: 1em;
    margin-left: 8em;
    margin-right: 8em;
}

div.three {
    background: lightpink;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1em;
    margin-left: 8em;
    margin-right: 8em;
}