body {
    font-family: Arial, Verdana, sans-serif;
}

.columns {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    column-gap: 40px;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    -webkit-column-rule-style: dotted; /* Chrome, Safari, Opera */
    -moz-column-rule-style: dotted; /* Firefox */
    column-rule-style: dotted;
    -webkit-column-rule-width: 3px; /* Chrome, Safari, Opera */
    -moz-column-rule-width: 3px; /* Firefox */
    column-rule-width: 3px;
    -webkit-column-rule-color: lawngreen; /* Chrome, Safari, Opera */
    -moz-column-rule-color: lawngreen; /* Firefox */
    column-rule-color: lawngreen;
    margin-left: 40px;
    margin-right: 40px;
}

