body {
    font-family: Arial, Verdana, sans-serif;
    background: #787e7e;
}

h1, h2 {
    color: #000000;
    font-weight: bold;
}
h1 {
    font-size: 3.0em;
}

ul, ol {
    font-size: 0.9em;
    color: #4d4d4d;
    border: 2px dashed #2B81AF;
    border-radius: 10px;
    background-color: #8699A4;
    padding-left: 50px;
}
p {
    padding-left: 30px;
}
figure {
    font-size: 0.7em;
    font-weight: bold;
}
p.copyright_notice {
    font-size: 0.8em;
}
#special {
    font-size: 0.8em;
    color: yellowgreen;
    font-style: italic;
    border-left: 2px solid black;
    margin-left: 40px;
    padding-left: 10px;
}
p#basic {
    font-family: Courier, Courier New, sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    color: green;
    background: #1b1d26;
    margin-left: 40px
}
/*p::first-letter {
    font-size:8em;
}

p::first-line {
    font-weight: bold;
}*/