body {
    font-family: Arial, Verdana, sans-serif;
    margin-left: 20px;
}

h1 {
    font-size: 2.8em;
    color: #669991;
}

div {
    border-radius: 5px;
    background-color: #eaeaea;
    padding: 20px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #669991;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #528CE0;
}

fieldset {
    border: 1px solid #ccc;
    margin-bottom: 9px;
}